asgiref==3.11.1
certifi==2026.5.20
cffi==2.0.0
charset-normalizer==3.4.7
cryptography==49.0.0
Django==6.0.6
django-allauth==65.18.0
django-colorfield==0.14.0
idna==3.18
oauthlib==3.3.1
pillow==12.2.0
pycparser==3.0
PyJWT==2.13.0
requests==2.34.2
requests-oauthlib==2.0.0
sqlparse==0.5.5
urllib3==2.7.0
